@model dynamic

@{
    ViewBag.Title = "Play";
}
<table data-ng-controller="game" class="col-md-12">
    <tbody>
        <tr data-ng-repeat="deck in decks" class="deck">
            <td data-ng-repeat="card in deck" data-ng-class="game.getWidth()">
                <div class="deck" ng-click="play(card)">
                    <div class="card" data-ng-class="{flipped: card.flipped}">
                        <img class="front img-thumbnail" src="~/Content/back.png">
                        <img class="back img-thumbnail" data-ng-src="{{card.imageUrl}}">
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>