@{
	Layout = null;
}

<div class="story">
	<div class="image">
		<img class="back img-thumbnail" data-ng-src="{{card.imageUrl}}">
	</div>
	<div class="caption">
		{{card.caption}}
	</div>
	<div class="social-buttons">
		<a class="btn btn-social-icon btn-lg btn-google">
			<i class="fa fa-google"></i>
		</a>
		<a class="btn btn-social-icon btn-lg btn-google">
			<i class="fa fa-facebook"></i>
		</a>
		<a class="btn btn-social-icon btn-lg btn-google">
			<i class="fa fa-twitter"></i>
		</a>
		<a class="btn btn-social-icon btn-lg btn-google">
			<i class="fa fa-flickr"></i>
		</a>
		<a class="btn btn-social-icon btn-lg btn-google">
			<i class="fa fa-instagram"></i>
		</a>
	</div>
</div>