body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

.deck {
    -moz-perspective: 800px;
    -ms-perspective: 800px;
    -o-perspective: 800px;
    -webkit-perspective: 800px;
    height: 200px;
    margin-bottom: 2px;
    margin-top: 2px;
    perspective: 800px;
    position: relative;
    width: 160px;
}

.card {
    -moz-transform-style: preserve-3d;
    -moz-transition: -moz-transform 1s;
    -ms-transform-style: preserve-3d;
    -ms-transition: -ms-transform 1s;
    -o-transform-style: preserve-3d;
    -o-transition: -o-transform 1s;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    display: block;
    height: 100%;
    margin: 0px auto;
    transform-style: preserve-3d;
    transition: transform 1s;
    width: 100%;
}

.card.flipped {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card img {
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.card .front { object-fit: contain; }

.card .back {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    border: solid blue 2px;
    object-fit: cover;
    transform: rotateY(180deg);
}